:root {
  font-size: 62.5%;
  font-family: 'Poppins';

  --gray: rgb(165, 165, 165);
  --dark-gray: rgb(56, 56, 56);
  --black: rgb(21, 21, 21);
  --white: #fff;
  --khaki: rgb(236, 216, 165);
  --border-radius: 2.4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.container {
  padding: 0 3.2rem;
}

.btn {
  width: 8em;
  background: var(--black);
  color: var(--white);
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 0.6em 1.4em;
  cursor: pointer;
  border: none;
}

h2 {
  font-weight: 400;
  font-size: 6rem;
  margin: 0;
}

h3 {
  font-size: 2.4rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

#section-2, 
#section-3, 
#section-4, 
#section-5, 
#section-6,
#section-7 {
  margin: 0 7.8rem;
}

header {
  padding: 3.2rem 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 3.2rem;
  padding: 0;
  gap: 3.2rem;
}

nav > ul li {
  cursor: pointer;
}

.order {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  margin: 0 3.2rem;
}

.price p {
  margin: 0;
}

.description {
  font-size: 1rem;
  color: var(--gray);
  text-align: end;
}

.svg {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.svg:hover {
  opacity: 1;
}

/* Section 1 */

#section-1 {
  width: 100%;
  height: 78rem;
  aspect-ratio: 16 / 9;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, var(--black) 60%);
  border-radius: var(--border-radius);
  position: relative;
}

#section-1 p {
  font-size: 1.6rem;
  margin: 12.5rem 0 0 0;
}

#section-1 h1 {
  margin: 0.8rem 0 2.5rem 0;
  font-size: 10rem;
  font-weight: 400;
  line-height: 100%;
}

.hero-image {
  width: 80%;
  position: absolute;
  top: 31rem;
}

.btn-glass {
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  background: rgba(21, 21, 21, 0.2);
  backdrop-filter: blur(1.2rem);
  color: var(--white);
  font-weight: 500;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.btn-glass img {
  margin-right: 1.4rem;
  filter: blur(-1.2rem);
}

/* Section 2 */

#section-2 {
  position: relative;
  background: var(--white);
  z-index: 2;
  height: 80rem;
}

#section-2 .description {
  text-align: start;
}

#section-2 aside {
  width: 40%;
  position: absolute;
  top: 15rem;
}

#section-2 .bike-wrapper {
  position: relative;
  left: 50%;
  width: 30%;
}

#bike-img-1 {
  position: absolute;
  top: 10rem;
}

#bike-img-2 {
  position: absolute;
  top: 14.3rem;
  left: 39rem;
}

#bike-img-3 {
  position: absolute;
  top: 46.4rem;
  left: 30rem;
}

/* Section 3 */

#section-3 {
  margin-top: 30rem;
}

.carousel {
  display: flex;
  margin-top: 2.6rem;
  overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
  width: 100%;
  height: 1rem;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: var(--border-radius);
  width: 35rem;
}

.carousel::-webkit-scrollbar-track {
  background: var(--white);
}

.carousel-card {
  width: 35rem;
  margin-right: 3rem;
}

/* Section 4 */

#section-4 {
  margin-top: 10rem;
}

.wide-image {
  width: 100%;
}

#section-4 img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#section-4 article {
  display: flex;
  gap: 3rem;
}

#section-4 .img-group-wrapper {
  overflow: hidden;
  margin-bottom: 2rem;
  width: 100%;
}

#section-4 .img-group {
  width: 100%;
  position: relative;
}

#section-4 .img-group-active {
  display: block;
}

#section-4 .info-wrapper {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#section-4 .infro-wrapper_text {
  width: 35%;
}

#section-4 .infro-wrapper_text h3 {
  color: var(--white);
  font-weight: 500;
}

#section-4 .infro-wrapper_text p {
  margin: 0;
  color: var(--white);
  font-weight: 400;
}

#section-4 .infro-wrapper_svg {
  display: flex;
  gap: 3rem;
}

#section-4 .radio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#section-4 .radio {
  width: 15rem;
  height: 1rem;
  background: var(--gray);
  border-radius: var(--border-radius);
  opacity: 0.7;
}

#section-4 .radio-active {
  background: var(--black);
}

/* Section 5 */

#section-5 {
  margin-top: 10rem;
}

#section-5 .review {
  margin: 0 auto;
  width: 60%;
  margin-top: 6rem;
}

#section-5 blockquote {
  margin: 0 0 8rem 0;
  position: relative;
}

#section-5 .active-quote {
  opacity: 1;
}

#section-5 blockquote p {
  transition: opacity 0.5s ease-in-out;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  top: -1rem;
  left: 10.8rem;
  margin: 0;
  opacity: 0;
}

.user {
  width: 8rem;
  position: relative;
}

#section-5 blockquote img {
  margin-right: 4rem;
}

.user-image {
  cursor: pointer;
}

.user-text {
  position: absolute;
  left: -10%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.user-active .user-text {
  left: 35%;
  opacity: 1;
}

#section-5 .user-carousel {
  margin-left: 10.8rem;
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, min-content);
  align-items: center;
}

#section-5 .user p , #section-5 .user span {
  display: none;
}

#section-5 .user-active {
  padding: 1rem 6rem 1rem 1rem;
  background: var(--black);
  border-radius: 10rem;
  color: var(--white);
  display: flex;
  width: 30rem;
  align-items: center;
  margin-top: -1rem;
  transition: width 0.3s ease-in-out;
}

#section-5 .user-active img {
  margin-right: 2rem;
}

#section-5 .user-active p {
  display: block;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

#section-5 .user-active span {
  display: inline;
  font-size: 1.5rem;
  color: var(--gray);
  margin: 0;
}

/* Section 6 */

#section-6 {
  margin-top: 10rem;
}

#section-6 h2 {
  margin-bottom: 7rem;
}

.accordion-item {
  background: var(--black);
  color: var(--white);
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
}

.accordion-item-header {
  cursor: pointer;
  padding: 2.5rem 3.5rem 2.5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item-header img {
  transition: transform 0.3s ease-in-out;
}

.accordion-item-header span {
  background: var(--dark-gray);
  padding: 1rem;
  border-radius: 0.5rem;
}

.rotate {
  transform: rotateZ(180deg);
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion-item-body-content {
  padding: 0 3.5rem 2.5rem 3.5rem;
}

.accordion-item-body-content ul, p {
  padding: 0;
  margin: 0;
}

.accordion-item-body-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--gray);
}

.accordion-item-body-content p {
  margin: 1.5rem 0;
}

/* Section 7 */

#section-7 {
  background: var(--black);
  border-radius: var(--border-radius);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

#section-7 p {
  margin: 3.3rem 0 0.8rem 0;
}

#section-7 h2 {
  margin: 0 0 4.5rem 0;
  line-height: 100%;
}

.buttons {
  display: flex;
  gap: 4rem;
}

.btn-i {
  background: var(--white);
  color: var(--black);
  height: 4.4rem;
}

.slider-buttons {
  background: var(--dark-gray);
  border-radius: 10rem;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 4.5rem;
  flex: 1;
}

.btn-circle {
  border: none;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

#circle-1 {
  background: var(--black);
  color: var(--black);
}

#circle-2 {
  background: var(--khaki);
  color: var(--khaki);
}

#circle-3 {
  background: rgb(85, 112, 92);
  color: rgb(85, 112, 92);
}

.btn-circle-active::after {
  content: '';
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  top: -0.5rem;
  left: -1rem;
  border: 0.2rem solid currentColor;
}

.carousel-wrapper {
  position: relative;
  height: 35vw;
  width: 80%;
  margin: 0 auto;
}

.carousel-image {
  width: 80%;
  position: relative;
  left: 10%;
}

.carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.3s ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}



/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

footer p {
  color: var(--black);
}

footer a {
  color: var(--black);
  text-decoration: none;
}